<div class="uk-section uk-section-secondary uk-light">
        <h1 class="text-center uk-heading-hero">Accounts</h1>
    </div>
    <!-- This is a button toggling the modal -->
    <button class="uk-button uk-button-primary uk-margin-small-right account-create" type="button" uk-toggle="target: #modal-example"><span class="fa fa-plus"></span> Account</button>

    <!-- This is the modal -->
    <div id="modal-example" uk-modal>
        <div class="uk-modal-dialog uk-modal-body">
            <!-- <h2 class="uk-modal-title">Account</h2> -->
            <p class="uk-text-muted">Create a new account here.</p>
            <p><textarea class="uk-textarea account-input" placeholder="Account Name" id="inputName"></textarea></p>
            <p class="uk-text-right">
                <button class="uk-button uk-button-danger uk-modal-close" type="button"><span class="fa fa-times"></span></button>
                <button class="uk-button uk-button-primary account-add" type="button"><span class="fa fa-check"></span></button>
            </p>
        </div>
    </div>
    <div class="uk-container">
        <div class="uk-child-width-1-3@m uk-grid-small uk-grid-match uk-grid">
            {{!-- CARD --}}
            {{#each account}}
            <div class="uk-card uk-card-default uk-card-body uk-width-1-5@m uk-height-1-6@m uk-card-hover">
            <a href="user/:id/goal"><h3 class="uk-card-title text-center">{{this.name}}</h3></a>
            <button class="uk-button uk-button-secondary uk-button-small account-edit">Edit</button>
            <button class="uk-button uk-button-danger uk-button-small account-delete">Delete</button>
            </div>
            {{/each}}
            {{!-- CARD END --}}
   
        </div>
    </div>
<script src="../public/js/index.js"></script>
