 <div class="uk-section uk-section-secondary uk-light">
        <h1 class="text-center">Tactics</h1>
      </div>
      <div class="uk-container">
      <div class="uk-child-width-1-3@m uk-grid-small uk-grid-match uk-grid">
          {{#each}}
      <div class="uk-card uk-card-default uk-card-body uk-width-1-2@m uk-height-1-6@m uk-card-hover">
            <h3 class="uk-card-title text-center">Tactic</h3>
            <p><textarea class="uk-textarea"></textarea></p>
            <button class="uk-button uk-button-secondary uk-button-small">Add</button>
            <button class="uk-button uk-button-primary uk-button-small">Edit</button>
            <button class="uk-button uk-button-danger uk-button-small">Delete</button>
      </div>
    {{/each}}
   
      </div>