.list-group-item {
  line-height: 2.5;
}

#logInBtn {
  margin-left: -5%;
  background-color: dimgray;
  color: white;
}

#signUpBtn {
  margin-left: 5%;
  background-color: rgb(249, 255, 245);

}

/* .uk-button {
  border-radius: 7px;
  
} */

.carousel-caption {
  margin-bottom: 45%;
}

#title {
  font-size: 110px;
  color: #33cc33;
  text-shadow: black 1px 1px;
}

* { 
color: dimgray; 
text-decoration: none;}
